@import "tailwindcss";

@font-face {
	font-family: Inter;
	src: url("/inter.woff2");
}

@font-face {
	font-family: MADE;
	src: url("/made extrabold.otf");
}

@theme {
	--color-twitch-background: #0e0e10;
	--color-twitch-background-light: #18181b;
	--color-twitch-text: #efeff1;
}

:root {
	color-scheme: dark;
}

body {
	@apply bg-twitch-background text-twitch-text box-content flex h-screen flex-col font-[Inter,sans-serif] text-xs select-none;
}

main {
	@apply m-3;
}

hr {
	@apply border-zinc-800;
}

h1 {
	@apply text-sm font-medium;
}

h2 {
	@apply font-medium;
}

input[type="color"] {
	@apply h-4 min-w-4 cursor-pointer;

	&::-webkit-color-swatch-wrapper {
		@apply p-0;
	}

	&::-webkit-color-swatch {
		@apply rounded-xs border-zinc-700;
	}
}

input[type="range"] {
	@apply h-3 w-24 cursor-pointer appearance-none overflow-visible rounded-xs border border-zinc-700;

	&::-webkit-slider-thumb {
		@apply size-2.5 appearance-none rounded-xs bg-white;
	}
}

input[type="checkbox"] {
	@apply relative flex size-3.5 cursor-pointer appearance-none items-center justify-center rounded-xs bg-zinc-900 outline-1 outline-zinc-700;

	&:checked::after {
		@apply absolute size-3/4 rounded-xs bg-white content-[""];
	}
}

input[type="number"] {
	@apply rounded-xs outline-1 outline-zinc-700;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		@apply cursor-pointer opacity-100;
	}
}

.box {
	@apply bg-twitch-background-light rounded-xs outline-1 outline-zinc-800;
}

.btn {
	@apply bg-twitch-background-light w-max cursor-pointer rounded-xs px-2 py-1 outline-1 outline-zinc-700 hover:bg-zinc-800 active:bg-zinc-700 active:outline-zinc-600;
}

.between {
	@apply flex items-center justify-between;
}
