@import "tailwindcss";

@font-face {
	font-family: Inter;
	src: url("/inter.woff2");
}

@font-face {
	font-family: MADE;
	src: url("/made extrabold.otf");
}

@theme {
	--color-twitch-background: #0e0e10;
	--color-twitch-background-light: #18181b;
	--color-twitch-text: #efeff1;
}

body {
	@apply box-content flex h-screen flex-col bg-twitch-background font-[Inter,sans-serif] text-base text-twitch-text select-none;
}

main {
	@apply m-3;
}

h1 {
	@apply text-xl font-medium;
}
